/* Main container */
.container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* centre horizontally */
  gap: 30px;
  padding: 20px;
  margin: 0 90px auto;
  /*Up, left-right, down */
  min-height: 100vh;
  /* the entire height of the screen */
  justify-content: center;
  /* centre vertically */

}

.container .card {
  background: #ffffff;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  width: 300px;
  /* fixed width */
  min-height: auto;
  /* the height is suitable */
  aspect-ratio: auto;
  /* remove width and height restrictions*/
  padding: 25px 25px;
  /* content space at top/bottom edge */
  box-sizing: border-box;
  /* padding included in size*/
  gap: 10px;
  transition: all 0.3s ease;
  line-height: 1.6;
  overflow-y: auto;
}



/* Hover efect */
.container .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-color: #b3c7ff;
}

.container>h1,
.container>h2 {
  width: 100%;
  text-align: center;
}

/* Title */
.container .card h3 {
  color: #1e1e6a;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Text */
.container .card p,
.container .card li {
  color: #222;
  font-size: 16px;
}

/* Links */
.container .card a {
  color: #1e4eff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.container .card a:hover {
  color: #d17b00;
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: auto;
  }

  .container .card {
    flex: 1 1 45%;
    max-width: 300px;
    min-height: 350px;
    /* minimum fixed height */
  }

  /* First card wider and centred */
  .card:first-of-type {
    flex: 0 0 600px;
    max-width: 600px;
  }
}

/* From large screens */
@media (min-width: 992px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 50px auto;
  }

  .container .card {
    flex: 1 1 30%;
    /* three cards per row */
    min-width: 280px;
    max-width: 350px;
    height: 400px;
  }

  .container .card>p,
  .conatiner .card>li {
    overflow-y: auto;
    /* scroll vertical */
    flex-grow: 1;
    /* the content expands to fill the space */
    margin: 0;
    /* remove margins so that it fits well */
  }

}