body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #06012a;
  height: 100px;
}

.nav-links a:hover,
.nav-links a:focus,
.nav-links a:active {
  color: #ffb200;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index: 10000;
}

.menu-icon span {
  display: block;
  height: 4px;
  background-color: orange;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon.open {
  transform: rotate(45deg);
}

.menu-icon.open span:nth-child(1) {
  transform: translateY(8px) rotate(90deg);
  /* First bar rotates */
}

.menu-icon.open span:nth-child(2) {
  opacity: 1;
}

.menu-icon.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-90deg);
  /* Third bar rotates */
}

.nav-links {
  display: none;
  list-style: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  justify-content: center;
}

.nav-links.open {
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav-links li {
  margin: 20px 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #464444;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.container-show-alldata {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  min-height: 70vh;
}

#container-show-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.card {
  background: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.card p {
  margin: 10px 0;
  font-size: 15px;
}

.card:hover {
  transform: scale(0.98);
  opacity: 0.85;
  border-color: black;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #06012a;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  height: auto;
}

.footer-item:hover {
  color: #ff9500;
  transform: scale(1.05);
  transition: color 0.3s ease, text-shadow 0.5s ease;
}

.icon-link:hover a {
  color: #d17b00;
  text-decoration: underline;
}

.icon-link:hover i {
  color: #1e4eff;
}

.footer-item,
.footer-item-contact,
.footer-item.validator {
  margin: 10px 0;
}

.footer-item-contact a,
.footer-item.validator a {
  color: #eee;
  text-decoration: none;
}

.footer-item.validator img {
  margin: 5px;
  border: none;
  vertical-align: middle;
}

.icon-link a {
  color: rgb(64, 73, 194);
}

@media (min-width: 600px) {

  .card {
    background: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    max-width: 350px;
  }
}

@media (min-width: 768px) {

  .nav-links {
    display: flex;
    position: static;
    /* Position the menu horizontally */
    padding: 0;
    flex-direction: row;
    justify-content: center;
  }

  .nav-links li a {
    color: white;
    padding: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    display: flex;
  }

  .menu-icon {
    display: none;
  }

  .nav-links li {
    margin: 0;
  }

  .card {
    max-width: 500px;
  }
}