body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  /* gris suave */
  font-family: Arial, sans-serif;
}

/* Not hover mobile first*/
.nav {
  display: flex;
  flex-direction: column;
  background-color: #06012a;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 150px;
  min-width: 170px;
  box-sizing: border-box;
  /* margin and padding included */
  justify-content: start;
}


.nav a {
  color: white;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0;
  justify-content: center;
}


.nav a:active,
.nav a:focus {
  color: #ffb200;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #464444;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.container-show-alldata {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  margin-left: 210px;
  width: calc(100% - 250px);
}

#container-show-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.card {
  background: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card p {
  margin: 10px 0;
  font-size: 15px;
}

.card:hover {
  transform: scale(0.98);
  opacity: 0.85;
  border-color: black;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #06012a;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  height: auto;
}

.footer-item:hover {
  color: #ff9500;
  transform: scale(1.05);
  transition: color 0.3s ease, text-shadow 0.5s ease;
}

.icon-link:hover a {
  color: #d17b00;
  text-decoration: underline;
}

.icon-link:hover i {
  color: #1e4eff;
}

.footer-item,
.footer-item-contact,
.footer-item.validator {
  margin: 10px 0;
}

.footer-item-contact a,
.footer-item.validator a {
  color: #eee;
  text-decoration: none;
}

.footer-item.validator img {
  margin: 5px;
  border: none;
  vertical-align: middle;
}

.icon-link a {
  color: rgb(64, 73, 194);
}

@media (min-width: 600px) {

  /* Navbar replaces sidebar */
  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .nav a {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .nav>a:nth-child(n+6) {
    display: none;
  }

  .hamburguer {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 28px;
    color: orange;
    cursor: pointer;
  }

  /*Show all links*/
  .nav.show-extras>a:nth-child(n+5) {
    display: inline-block;
    margin-right: 20px;
  }

  .nav a:hover {
    color: #ff9500;
    transform: scale(1.1);
  }

  .container-show-alldata {
    max-width: 450px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    border-style: none;
  }

  .card {
    width: 100%;
    max-width: 600px;
    max-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .container-show-alldata {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    border-style: none;
  }
}